/* HEART LOADER */

.heart-loader-wrapper {
  align-items: center;
  background: $background;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  width: 100%;

  h3 {
    color: $darkGray;
    margin-top: 20px;
  }

  h6 {
    color: $darkGray;
    font-style: italic;
    text-align: center;
    width: 220px;
  }
}

.heart-loader {
  background-color: $heartLoader;
  width: 50px;
  height: 50px;
  position: relative;
  -webkite-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: pulsate 1s infinite;
  animation: pulsate 1s infinite;
}

.heart-loader::before,
.heart-loader::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-color: $heartLoader;
  position: absolute;
  border-radius: 50%;
}

.heart-loader::before {
  top: 0;
  left: -25px;
}
.heart-loader::after {
  top: -25px;
  left: -0px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  5% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
  10% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  15% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  5% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
  10% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  15% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
}